*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: RGB(243,234,227);
}

.contenedor{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: 540px;
    width: 900px;
    background-color: white;
}